<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hello20thon - 로그인</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  
</head>
<body class="hold-transition login-page">

<!--End of Tawk.to Script-->
<div class="login-box">
  <div class="login-logo">
    <a href="../"><b>Hello20</b>Thon</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">대회 세션에 로그인</p>

      <form onsubmit="return false;">
        
      
        <div class="input-group mb-3">
          <input id="email" type="email" class="form-control" placeholder="이메일">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input id="password" type="password" class="form-control" placeholder="비밀번호">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <a href="#" onClick="alert('비밀번호 복구는 문의하기를 통해서 하실 수 있습니다.')">비밀번호 찾기</a>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button id="loginBtn" type="button" onClick="login()" class="btn btn-primary btn-block">로그인</button>
          </div>
          <!-- /.col -->
        </div>
      
      </form>
      <div class="social-auth-links text-center mb-3">
        <p>- 또는 -</p>
        <a href="#" onClick="alert('참가신청이 마감되었습니다. 관심가져주셔서 대단히 감사합니다.')" class="btn btn-block btn-primary">
        참가신청
        </a>
        <a href="https://kangcw.typeform.com/to/EaftY8" target="_blank" class="btn btn-block btn-danger">
        문의하기
        </a>
      </div>
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="/license">오픈소스 라이센스 (Opensource License)</a>
      </p>
      
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<script type="text/javascript" src="/plugins/core.js"></script>
<script type="text/javascript" src="/js/login.js"></script>

</body>
</html>
