<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hello20thon - 참가신청</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <script type="text/javascript" src="/plugins/core.js"></script>
  <script type="text/javascript" src="/js/reg.js"></script>
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="../"><b>Hello20</b>Thon</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">참가신청</p>

      <form>
        <div class="input-group mb-3">
          <input id="name" type="text" class="form-control" placeholder="이름">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input id="email" type="email" class="form-control" placeholder="이메일">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input id="password" type="password" class="form-control" placeholder="비밀번호">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
				<div class="input-group mb-3">
          <input id="passwordre" type="password" class="form-control" placeholder="비밀번호 확인">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input id="phone" class="form-control" placeholder="휴대전화번호 (- 제외)">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-phone"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input id="school" type="text" class="form-control" placeholder="학교명">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-school"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <select id="grade"  class="form-control" placeholder="학년(연령)">
            <option value="1">중학교 2학년 (만 14세)</option>
            <option value="2">중학교 3학년 (만 15세)</option>
            <option value="3">고등학교 1학년 (만 16세)</option>
            <option value="4">고등학교 2학년 (만 17세)</option>
            <option value="5">고등학교 3학년 (만 18세)</option>
			      <option value="6">대학생</option>
          </select>
        </div>
        <input type="checkbox" id="privacy">
        <label for="fruit1"><a href="https://accounts.goorm.io/privacy"> 개인정보처리방침</a>에 동의</label>
        
       <p class="login-box-msg">아래 버튼을 클릭함으로서 신청자 본인이 만 14세 이상이며 해커톤 참가를 신청합니다.</p>
      </form>
    
      <div class="social-auth-links text-center mb-3">
        <a id="regBtn" href="#" onClick="register()" class="btn btn-block btn-primary">
        참가신청
        </a>
      </div>
      <!-- /.social-auth-links -->

      <p class="mb-1">
       
      </p>
      
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>

</body>
</html>
